/*
    wislider - v1.0.1 - CSS File
    created by Alexandre Moraes
    the wislider script is free, use it as you wish :)
    http://wikarus.com.br
    http://facebook.com/wikarus
    alexandre@wikarus.com.br
    fork this project at github: https://github.com/wikarus/wislider/fork
*/

.wisliderNav { text-align: center; margin: 0 auto; }
.wisliderNav .wisliderSelector { cursor: pointer; width: 15px; height: 15px; display: inline-block; background: url('../images/wislider/wislider.png') -50px -30px no-repeat; }
.wisliderNav .wisliderSelector.active { width: 15px; height: 15px; display: inline-block; background: url('../images/wislider/wislider.png') -50px -50px no-repeat; }
.wisliderPrev { left: 10px; background: url('../images/wislider/wislider.png') 0px 0px no-repeat; }
.wisliderNext { right: 10px; background: url('../images/wislider/wislider.png')  0px -50px no-repeat; }
.wisliderArrow { position: absolute; transition: all 0.2s linear; z-index: 3; top: 50%; margin-top: -25px; width: 50px; height: 50px; display: block; cursor: pointer; opacity: .2; }
.wisliderArrow.disabled { cursor: default; opacity: .1; }
.wisliderArrow:not(.disabled):hover { opacity: 1; }

